{{#*inline "page"}}

<header>
  <h1>
    <a href="../../">CATALOG</a> | {{ directory.name }}
  </h1>
  <nav class="action">
  {{#unless root}}
    <a href="../../d/{{ parent.slug }}/{{ parent.name }}" title="back to {{ parent.name }}">
      <img class="icon" src="../../static/back.svg" />
    </a>
  {{/unless}}
    <input class="icon" type="image" src="../../static/slideshow.svg" title="slideshow"/>
    <input class="icon" type="image" src="../../static/upload.svg" title="upload"/>
    <input type="file" name="file"/>
  {{#if thumbs}}
    <a href="../../d/{{ directory.slug }}/{{ directory.name }}?thumbs=off" title="list view">
      <img class="icon" src="../../static/list.svg" />
    </a>
  {{else}}
    <a href="../../d/{{ directory.slug }}/{{ directory.name }}" title="thumbs view">
      <img class="icon" src="../../static/thumbnails.svg" />
    </a>
  {{/if}}
  </nav>
</header>

<main>
  {{#if thumbs}}
  <section class="layout-thumbs">
    {{#each files}}
    <figure>
      <a href="../../{{#if this.is_dir }}d{{else}}f{{/if}}/{{ this.slug }}/{{ this.name }}" data-name="{{this.name}}">
        <img data-src="../../t/{{ this.slug }}/{{ this.name }}" />
      </a>
    </figure>
    {{/each}}
  </section>
  {{else}}
  <table class="layout-list">
    <tr>
      <th class="col-name">Name</th>
      <th class="col-modified">Modified</th>
      <th class="col-size">Size</th>
    </tr>
    {{#unless root}}
    <tr>
      <td class="col-name">
        <a href="../../d/{{ parent.slug }}/{{ parent.name }}?thumbs=off">../</a>
      </td>
      <td class="col-modified">{{ parent.modified }}</td>
      <td class="col-size">{{ parent.size }}</td>
    </tr>
    {{/unless}}
    {{#each files}}
    <tr>
      <td class="col-name">
        <a href="../../{{#if this.is_dir }}d{{else}}f{{/if}}/{{ this.slug }}/{{ this.name }}{{#if this.is_dir }}?thumbs=off{{/if}}" {{#unless this.is_dir }}target="_blank"{{/unless}}>
          {{ this.name }}{{#if this.is_dir }}/{{/if}}
        </a>
      </td>
      <td class="col-modified">{{ this.modified }}</td>
      <td class="col-size">{{ this.size }}</td>
    </tr>
    {{/each}}
  </table>
  {{/if}}

  <section class="leanback">
    <header>
      <a target="_blank">linky link</a>
      <span class="spinner"></span>
    </header>

    <img class="placeholder" />
    <img class="media" />
    <video class="media" controls autoplay loop></video>
  </section>
</main>

<script>
  /// DOM Helpers
  const $ = document.querySelector.bind(document);
  const $$ = document.querySelectorAll.bind(document);
  NodeList.prototype.filter = Array.prototype.filter;

  let lazyLoad = () => {
    let images = $$('section img');
    let observerConfig = {
      root: null,
      rootMargin: '50%',
      threshold: 0.1
    };

    let observer = new IntersectionObserver(function(files) {
      files.forEach(function(file) {
        let image = file.target;

        if(file.intersectionRatio > 0) {
          observer.unobserve(image);

          let img = new Image();
          img.src = image.dataset.src;
          img.alt = image.alt;
          img.onload = function() {
            image.parentNode.replaceChild(img, image);
          }
        }
      });
    }, observerConfig);

    images.forEach(function(image) {
      observer.observe(image);
    });
  };

  let fileUpload = () => {
    $('.action input[type=file]').addEventListener('change', (event) => {
      let file = event.target.files[0];
      let req = new XMLHttpRequest();

      req.open('POST', `../../u/{{ directory.slug }}/${file.name}`, true);
      req.onload = (event) => {
        if(event.target.status == 200) {
          alert(event.target.responseText);
          window.location.reload();
        } else {
          alert('Upload failed!');
        }
      };
      req.send(file);
    });

    $('.action input[title=upload]').addEventListener('click', () => {
      $('.action input[type=file]').click();
    });
  };

  var current = -1;
  var leanback = () => {
    const
      box = $('.leanback'),
      title = box.querySelector('header'),
      anchor = title.querySelector('a'),
      img = box.querySelector('img.media'),
      vid = box.querySelector('video.media'),
      placeholder = box.querySelector('.placeholder'),
      imgRegex = /jpeg$|jpg$|png$|gif$/i,
      vidRegex = /mp4$|webm$/i;
    const links = $$('figure > a').filter(el => el.href.includes('/f/'));

    let media = '', files = [];

    links.forEach((link) => {
        if (link.href.match(imgRegex) || link.href.match(vidRegex)) files.push({
          index: files.length + 1,
          type: link.href.match(imgRegex) ? 'img': 'vid',
          src: link.href,
          title: link.innerText || link.dataset.name,
          loaded: false,
        });
      });

    function preload() {
      let next = files[current + 1];
      if(next && !next.loaded && next.type == 'img') {
        console.debug('preloading', next.title);
        new Image().src = next.src;
        next.loaded = true;
      }
    }

    function go(dir) {
      // limit current to 0 and files.lenegth
      current = Math.min(files.length - 1, Math.max(0, current + dir));
      let file = files[current];
      media = file.type == 'img' ? img : vid;

      if(media.src == file.src) {
        console.debug('reached boundary');
        return;
      }

      anchor.href = file.src;
      anchor.text = `${file.title} (${file.index}/${files.length})`;

      if(file.loaded) {
        console.debug('already loaded', file.title);
        media.src = file.src;
        preload();
        return;
      }

      vid.style.display = img.style.display = 'none';
      placeholder.style.display = 'block';
      media.src = file.src;
      placeholder.src = file.src.replace('/f/', '/t/');

      box.dataset.loading = true;
      img.onload ||= function(e) {
        file.loaded = true;
        media.style.display = 'block';
        placeholder.style.display = 'none';
        delete box.dataset.loading;

        preload();
      };
      vid.onloadeddata ||= img.onload;
    }

    /// bind events
    document.addEventListener('keydown', function (e) {
      if (e.keyCode == 37) go(-1); // LEFT
      else if (e.keyCode == 39) go(+1); // RIGHT
      else if (e.keyCode == 35) go(9999999); // END
    }, false);
    box.addEventListener('click', function(e) {
      if(e.target !== this) return;
      if(vid.src) {
        vid.pause();
        vid.src = '';
      }
      box.style.display = 'none';
    });
    img.addEventListener('click', () => { go(+1); }, false);
    vid.addEventListener('click', () => { go(+1); }, false);

    let touchstartX = 0;
    let touchendX = 0;
    function handleGesture() {
      const diff = touchendX - touchstartX;
      if(Math.abs(diff) < 29) return;

      if(diff > 0) {
        go(-1); // PREV
      } else {
        go(+1); // NEXT
      }
    }
    box.addEventListener('touchstart', e => { touchstartX = e.changedTouches[0].screenX; });
    box.addEventListener('touchend', e => { touchendX = e.changedTouches[0].screenX; handleGesture(); });

    /// init
    $('.action input[title=slideshow]').addEventListener('click', init, false);
    links.forEach(link => link.addEventListener('click', init, false) );

    function init(e) {
      if(files.length === 0) {
        console.debug('no media to present');
        return;
      }

      box.style.display = 'block';
      let file = files.find(el => el.src == e.currentTarget.href) || files[0];

      current = -1;
      go(file.index);
      e.preventDefault();
    }
  };

  let main = () => {
    lazyLoad();
    fileUpload();
    leanback();
  };

  window.addEventListener('load', main, false);
</script>

{{/inline}}
{{~> layout ~}}
