<!doctype html>
<html>
  <head>
    <title>CATALOG | {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      :root {
        color: #ccc;
        font: 16px/1.2 monospace;
        background: #191a1b;
        padding: 0;
        margin: 0;
        transition: all .3s;

        --header-font-size: 1rem;
        --header-margin: 1rem;
      }
      body {
        position: relative;
        max-width: 70rem;
        margin: 0 auto;
      }
      h1 {
        font-size: var(--header-font-size);
        padding: var(--header-margin);
        margin: 0;
      }
      a {
        color: #ff2400;
        text-decoration: none;
        outline: 0;
        line-height: 1;
      }

      /* icon layout  */
      .layout-thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      figure {
        position: relative;
        margin: 0.2rem;
      }
      figure img {
        display: block;
        height: 7rem;
        width: 7rem;
        object-fit: cover;
        transition: all .2s ease-in-out;
      }
      figure img[data-src] {
        min-width: 3rem;
        display: inline-block;
      }
      figure a[href*="/d/"]::before {
        content: attr(data-name);
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.2rem;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        color: #ccc;
        background: rgba(0, 0, 0, 0.4);
        word-wrap: anywhere;
      }
      figure img:hover {
        box-shadow: 0 0 1rem rgba(256, 256, 256, 0.2);
      }

      /* list layout */
      .layout-list {
        width: 90%;
        margin: 0 auto;
      }
      .layout-list a {
        display: block;
        padding: 0.2rem 0;
      }
      .layout-list a:hover {
        background: rgba(0, 0, 0, .8);
      }
      .col-name a, .col-modified, .col-size, th {
        padding: 0.2rem;
      }
      .layout-list .col-name {
        width: auto;
        text-align: left;
        overflow-wrap: anywhere;
      }
      .layout-list .col-modified {
        text-align: left;
        display: none;
      }
      .layout-list .col-size {
        text-align: left;
        display: none;
      }

      /* actions */
      .action {
        position: absolute;
        top: 0;
        right: 0;
        margin: var(--header-margin);
      }
      .action input[type=file] {
        display: none;
      }
      .action .icon {
        display: inline-block;
        height: var(--header-font-size);
        padding: 0 0.2rem;
        vertical-align: middle;
        background-color: transparent;
      }
      .action a {
        display: inline-block;
      }

      /* leanback */
      .leanback {
        display: none;
        position: fixed;
        inset: 0;
        z-index: 9999999; 
        background: rgba(0, 0, 0, 0.4);
      }
      .leanback header {
        padding: 0.5rem;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
      }
      .leanback img, .leanback video {
        display: none;
        position: relative;
        top: 50%; transform: translateY(-50%);
        max-width: 96%;
        max-height: 96%;
        margin: -1rem auto;
      }
      .leanback .placeholder {
        display: block;
        height: 50%;
        filter: blur(0.1rem);
      }
      .leanback[data-loading] .spinner::after {
        position: absolute;
        display: inline-block;
        animation: dotty steps(1,end) 1s infinite;
        content: '';
      }

      @keyframes dotty {
        0%   { content: ''; }
        25%  { content: '.'; }
        50%  { content: '..'; }
        75%  { content: '...'; }
        100% { content: ''; }
      }

      /* Support for Normal screens. */
      @media only screen and (min-width : 720px) {
        :root {
          font-size: 18px;
          --header-font-size: 1.3rem;
        }
        .layout-list .col-modified {
          display: table-cell;
          width: 8rem;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      /* Support for Wide screens. */
      @media only screen and (min-width : 960px) {
        :root {
          font-size: 20px;
        }
        .layout-list .col-size {
          display: table-cell;
          width: 6rem;
        }
      }
    </style>
  </head>
  <body>
    {{> header}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
